In [1]:
__author__ = "Lisette Espin"
__copyright__ = "Copyright 2021, GESIS"
__credits__ = ["Lisette Espin-Noboa", 
               "Fariba Karimi",                
               "Claudia Wagner",
               "Markus Strohmaier"]
__license__ = "GPL"
__version__ = "1.0.1"
__maintainer__ = "Lisette Espin"
__email__ = "lisette.espin@gesis.org"
__status__ = "Development"

In [2]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [3]:
%load_ext autoreload
%reload_ext autoreload
%autoreload 2
%pylab inline

import os
from org.gesis.lib import io
from org.gesis.lib import paper
from org.gesis.lib import viz

Populating the interactive namespace from numpy and matplotlib

In [4]:
ROOT = 'results/'
DATASETS = ['aps','hate','blogs','wikipedia']

In [5]:
df_network_metadata_empirical = paper.load_network_metadata(os.path.join(ROOT,'empirical'))
df_network_metadata_empirical = df_network_metadata_empirical.query("dataset in @DATASETS").reset_index(drop=True)

In [6]:
df_network_metadata_empirical

,N,fm,d,plo_M,plo_m,pli_M,pli_m,EMM,EMm,EmM,Emm,hMM,hmm,_N,_d,_mindiff,dataset
0,1224,0.480392,0.012709,4.887326,3.224640,2.475353,3.192596,0.470696,0.047411,0.041051,0.440841,0.92,0.90,200,0.015,0.025081,blogs
1,4971,0.109435,0.000613,2.230262,1.734447,2.737829,4.317729,0.568985,0.102437,0.078859,0.249719,0.58,0.95,500,0.006,0.084970,hate
2,3159,0.152263,0.001493,4.224252,6.165666,2.181928,2.012663,0.784688,0.078240,0.106850,0.030222,0.59,0.62,200,0.015,0.011728,wikipedia
3,1853,0.375607,0.001060,3.222462,8.939930,2.565296,2.158121,0.649808,0.028587,0.027213,0.294393,0.94,0.96,200,0.015,0.020318,aps

In [7]:
### @TODO: get these values from .gpickle file
df_network_metadata_empirical.loc[0, 'class'] = 'leaning'
df_network_metadata_empirical.loc[1, 'class'] = 'hate'
df_network_metadata_empirical.loc[2, 'class'] = 'gender'
df_network_metadata_empirical.loc[3, 'class'] = 'pacs'

df_network_metadata_empirical.loc[0, 'min'] = 'left'
df_network_metadata_empirical.loc[1, 'min'] = 'hateful'
df_network_metadata_empirical.loc[2, 'min'] = 'female'
df_network_metadata_empirical.loc[3, 'min'] = '05.20.-y'

df_network_metadata_empirical.loc[0, 'maj'] = 'right'
df_network_metadata_empirical.loc[1, 'maj'] = 'normal'
df_network_metadata_empirical.loc[2, 'maj'] = 'male'
df_network_metadata_empirical.loc[3, 'maj'] = '05.30.-d'

df_network_metadata_empirical

,N,fm,d,plo_M,plo_m,pli_M,pli_m,EMM,EMm,EmM,Emm,hMM,hmm,_N,_d,_mindiff,dataset,class,min,maj
0,1224,0.480392,0.012709,4.887326,3.224640,2.475353,3.192596,0.470696,0.047411,0.041051,0.440841,0.92,0.90,200,0.015,0.025081,blogs,leaning,left,right
1,4971,0.109435,0.000613,2.230262,1.734447,2.737829,4.317729,0.568985,0.102437,0.078859,0.249719,0.58,0.95,500,0.006,0.084970,hate,hate,hateful,normal
2,3159,0.152263,0.001493,4.224252,6.165666,2.181928,2.012663,0.784688,0.078240,0.106850,0.030222,0.59,0.62,200,0.015,0.011728,wikipedia,gender,female,male
3,1853,0.375607,0.001060,3.222462,8.939930,2.565296,2.158121,0.649808,0.028587,0.027213,0.294393,0.94,0.96,200,0.015,0.020318,aps,pacs,05.20.-y,05.30.-d

In [8]:
paper.all_datasets_summary_as_latex(df_network_metadata_empirical.round(3), ROOT)

results/summary_datasets.tex saved!

dataset       aps    blogs     hate wikipedia
N            1853     1224     4971      3159
class        pacs  leaning     hate    gender
min      05.20.-y     left  hateful    female
maj      05.30.-d    right   normal      male
fm          0.376     0.48    0.109     0.152
d           0.001    0.013    0.001     0.001
plo_M       3.222    4.887     2.23     4.224
plo_m        8.94    3.225    1.734     6.166
EMM          0.65    0.471    0.569     0.785
EMm         0.029    0.047    0.102     0.078
EmM         0.027    0.041    0.079     0.107
Emm         0.294    0.441     0.25      0.03
hMM          0.94     0.92     0.58      0.59
hmm          0.96      0.9     0.95      0.62